@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

:root{
    --text-color: white;
    --bg-url: url(assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --border-color: white;
    --social-back: rgba(255, 255, 255, 0.205);
    --switch-buton: url(assets/Sun.svg);
}

.light{
    --text-color: black;
    --bg-url: url(assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.082);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --border-color: black;
    --social-back: rgba(0, 0, 0, 0.144);
    --switch-buton: url(assets/MoonStars.svg);
}

body{
    /*
    background-image: url(assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;*/ 


    /*background: color image repeat position/size*/
    background: var(--bg-url) no-repeat top center/cover ;
    height: 100vh;
}

body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    
    
}

#container {
    width: 100%;
    max-width: 588px;

    margin: auto;
    margin-top: 56px;

    padding: 0 24px;
}

#profile{
    text-align: center;
    padding: 24px;
    
}

#profile > img{
    width: 112px;
    border-radius: 50%;
    border: 3px solid var(--text-color);
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#switch{
    margin-bottom: 15px;
    
    position: relative;
    width: 64px;

    margin: 0 auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background-color: white;
    border: none;
    border-radius: 50%;
    background-image: var(--switch-buton);
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    cursor: pointer;
}

.light #switch button{
    left: 0;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: 25px;
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

ul li a:hover{
    border: 1.9px solid var(--border-color);
    background-color: rgba(255, 255, 255, 0.075);
}

#social-links{
    display: flex;
    justify-content: center;

    padding: 24px 0;
    
    font-size: 24px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.3s;
    border-radius: 50%;
}


#social-links a:hover{
    background-color: var(--social-back)
}

footer{
    text-align: center;
    line-height: 24px;
    padding: 24px 0;
    font-size: 15px;
    font-weight: 400;
}


@media (min-width: 768px) {
    :root{
        --bg-url: url(assets/bg-desktop.jpg);
     
    }

    .light{
        --bg-url: url(assets/bg-desktop-light.jpg)
    }
}
